#section-404 {

    .img404 {
        display: inline-block;
        width: 250px;
        height: 120px;
        background: url("../images/illustration-logo.png") no-repeat center;
        background-size: cover;
        margin: 40px;
    }
}