* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    @include fontSize(16px);
    font-family: $default-font;
    line-height: 1.3;
    // background-color: green;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


a {
    @include fontSize(14px);
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}


img {
    text-decoration: none;
    max-width: 100%;
    height: auto;
    outline: none;
}

h1,
h2,
h3,
h4 {
    font-family: $default-font;
    line-height: 1.2em;
}

h1 {
    @include fontSize(32px);
    color: #fff;
}

h2 {
    position: relative;
    @include fontSize(26px);
    color: #61889e;
    margin-bottom: 40px;
    margin-left: 65px;
    transform: margin ease .3s;

    @media all and (max-width: 800px) {
        margin-left: 0;
    }

        &:before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 50px;
            height: 2px;
            background-color: #61889e;
            bottom: 0;
            transform: translateY(15px)
        }
}

h3 {
    @include fontSize(22px);
    margin-bottom: 20px;

    &:after {
        @include slash();
    }
}

strong {
    @include fontSize(16px);
    font-weight: 600;
}

::selection {
    background-color: $default-color;
    color: #fff;
}

.fifty {
    width: 50%;
}

.notice {
    @include fontSize(12px);
}

.posit-rel {
    position: relative;
}

.posit-abs {
    position: absolute;
}

.text-link {
    @include textLink(14px);
}