.section-form {
    margin-top: 60px;

    &:last-child {
        padding-bottom: 300px;
    }

    // message flash
    .message-flash {
        display: inline-block;
        @include fontSize(18px);
        color: #fff;
        text-align: center;
        width: 60%;
        background-color: #555;
        padding: 10px 20px;
        margin-top: 3%;
        border-radius: 4px;
    }
    .error {
        background-color: #c0392b;
    }
    .success {
        background-color: #2bbf32;
    }
    
    // elements of form
    .form-container {
        margin-top: 30px;
        form {
            display: block;
            width: 60%;
        }
    }
    div[name="lastnameGroup"] {
        display: none;
        visibility: hidden;
    }
    .form-group {
        margin-bottom: 25px;
        label {
            display: block;
            @include fontSize(16px);
            .info-field {
                @include fontSize(14px);
                color: #999;
            }
            .text-link {
                padding-left: 40px;
                @include textLink(14px);
            }
        }
        div.contain-input {
            margin-top: 10px;
            input {
                outline: none;
                min-height: 24px;
                min-width: 100%;
                padding: 5px;
                border-radius: 4px;
                border: 1px solid #999;
                transition: ease border .3s;
                &:focus {
                    border: #333 1px solid;
                }
            }
        }
        .error-field {
            @include fontSize(14px);
            color: #c0392b;
            margin-top: 10px;
        }
        .invalid {
            border: none;
            border: solid 1px #c0392b;
        }
    }
    button {
        display: block;
        @include fontSize(14px);
        color: #fff;
        background-color: #666;
        margin: 20px 0;
        padding: 8px 12px;
        outline: none;
        border: none;
        border-radius: 3px;
        transition: background-color ease .3s;
        &:focus,
        &:hover {
            background-color: #333;
        }
    }
}
.btn-invalid {
    background-color: #aaa;
    &:hover,
    &:focus {
        background-color: #aaa;
    }
}


.username {
    display: inline-block;
    font-style: italic;
    margin-bottom: 40px;
}

.strong {
    font-weight: 600;
}