header {
    // position: relative;
    z-index: 200;
    background-color: #333;
    line-height: 100px;
    color: #fff;
    vertical-align: baseline;
    box-shadow: 0 2px 8px #797979;
}

.logo-header {
    line-height: 100px;
    float: left;
    margin-left: 1%;
    transform: ease .3s font-size;

    a {
        @include fontSize(40px);
        color: #fff;

        @media all and (max-width: 450px) {
            @include fontSize(28px);
        }
    }
}

label span {
    font-size: 16px;
}

.menu {
    float: right;
    line-height: 100px;

    li {
        display: inline-block;

        a {
            @include fontSize(14px);
            color: #fff;
            text-transform: uppercase;
            padding: 10px;
            transition: .3s;
        }

        label span {
            font-size: 16px;
        }

    }
}


.show-menu-btn,
.hide-menu-btn {
    display: none;
    @include fontSize(30px);
    cursor: pointer;
    transition: .3s;
}

.show-menu-btn {
    float: right;

    i {
        line-height: 100px;
    }
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover,
.menu a:focus,
.show-menu-btn:focus,
.hide-menu-btn:focus {
    color: #61889e;

}

#chk {
    // position: absolute;
    visibility: hidden;
    z-index: -1100;
}

@media all and (max-width: 800px) {

    .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10001;
        background-color: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: .7s;

        li {
            display: block;
            padding: 20px;
        }
    }


    .show-menu-btn {
        margin-right: 1%;
    }


    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked~.menu {
        //pour cibler le menu
        right: 0;
    }
}



// .banner-header {
//     background-color: #ddd;
//     background: url('../images/banner-top-01.jpg') no-repeat bottom center #333333;
//     background-size: cover;
//     min-height: 700px;
//     height: 100vh;

//     &::before {
//         position: absolute;
//         content: '';
//         background-color: rgb(66, 60, 66);
//         background-image: linear-gradient(to top right, rgb(0, 0, 0) 0, rgb(255, 255, 255) 100%);
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         opacity: .85;
//         z-index: 1;
//     }

//     .text-banner {
//         position: absolute;
//         z-index: 90;
//         top: 50%;
//         left: 0;
//         right: 0;
//         transform: translateY(-50%);
//         text-align: center;

//         @media all and (min-width: 480px) {
//             &::before {
//                 content: "";
//                 display: inline-block;
//                 background: url("../images/illustration-logo.png") no-repeat;
//                 background-size: 100% auto;
//                 min-width: 450px;
//                 min-height: 300px;
//                 right: 0;
//                 bottom: 0;
//             }
//         }

//         h1 {
//             color: #fff;
//         }
//     }
// }


#container {
    padding: 50px 2%;
}