header {
    font-size: 0;
    background-color: #ddd;
    height: 300px;
    margin-bottom: 50px;

    #topbar {
        position: fixed;
        top: 0;
        color: #fff;
        background-color: #000;
        box-shadow: 0 2px 8px #797979;
        width: 100%;
        margin: 0 auto;
        padding: 20px 20px;


        .logo-header {
            display: inline-block;
            @include fontSize(48px);
            width: 45%;
            margin-right: 5%;
        }

        .menu-header {
            display: inline-block;
            @include navbar(18px);
            text-align: right;
            width: 50%;

            .menu-list {
                font-size: 0;
                li {
                    display: inline-block;
                    text-align: right;

                    a {
                        color: #bbb;
                        padding: .8em .5em;
                        transition: ease color .3s;

                        &:active,
                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }

                    ::selection {
                        background-color: #000;
                    }
                }
            }
        }
    }
}