.zeropix {
    font-size: 0;

    .connexion-contain {
        margin-top: 40px;


        .section-connexion {
            @include fontSize(14px);
            @include textLink(14px);
            display: inline-block;
            vertical-align: top;

            @media all and (max-width: 640px) {
                width: 100%;
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            .connexion-notice {
                p {
                    span {
                        display: inline-block;
                        padding-top: 40px;
                    }
                }

            }
        }
    }
}