/**
*convert px to rem
*
*@param pixel size
*/
@function calculateRem($pxSize) {
    $remSize: $pxSize/16px;
    @return #{$remSize}rem;
}

@mixin fontSize($pxSize) {
    font-size: $pxSize;
    font-size: calculateRem($pxSize);
}

@mixin navbar($pxSize) {
    @include fontSize($pxSize);
    display: inline-block;
}

@mixin textLink($pxSize) {
    a {
        @include fontSize($pxSize);
        line-height: 1.2rem;
        color: #61889e;

        &:focus,
        &:hover {
            color: #87bad8;
        }
    }
}

@mixin slash() {
    position: absolute;
    content: "/";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}