/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
*convert px to rem
*
*@param pixel size
*/
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

a {
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  text-decoration: none;
  max-width: 100%;
  height: auto;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.svg-circle {
  fill: #333;
}

.svg-point {
  fill: #fff;
}

header {
  font-size: 0;
  background-color: #ddd;
  height: 300px;
  margin-bottom: 50px;
}
header #topbar {
  position: fixed;
  top: 0;
  color: #fff;
  background-color: #000;
  box-shadow: 0 2px 8px #797979;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}
header #topbar .logo-header {
  display: inline-block;
  font-size: 48px;
  font-size: 3rem;
  width: 45%;
  margin-right: 5%;
}
header #topbar .menu-header {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  text-align: right;
  width: 50%;
}
header #topbar .menu-header .menu-list {
  font-size: 0;
}
header #topbar .menu-header .menu-list li {
  display: inline-block;
  text-align: right;
}
header #topbar .menu-header .menu-list li a {
  color: #bbb;
  padding: 0.8em 0.5em;
  transition: ease color 0.3s;
}
header #topbar .menu-header .menu-list li a:active, header #topbar .menu-header .menu-list li a:hover, header #topbar .menu-header .menu-list li a:focus {
  color: #fff;
}
header #topbar .menu-header .menu-list li ::selection {
  background-color: #000;
}

.message-flash {
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  background-color: #555;
  padding: 10px 20px;
}

.error {
  background-color: #c0392b;
}

.success {
  background-color: #2bbf32;
}

form {
  display: inline-block;
  width: 30%;
  margin-top: 30px;
}

label,
input {
  display: block;
}

label {
  margin-top: 15px;
}

input {
  outline: none;
  height: 24px;
  min-width: 30%;
  padding: 10px;
  border: #aaa 1px solid;
  transition: ease border 0.3s;
}
input:focus {
  border-bottom: #000 1px solid;
}

button {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #333;
  margin: 20px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  transition: background-color ease 0.3s;
}
button:focus, button:hover {
  background-color: #777;
}

.error-field {
  font-size: 14px;
  font-size: 0.875rem;
  color: #c0392b;
}

/*# sourceMappingURL=main.css.map */
