/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
*convert px to rem
*
*@param pixel size
*/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: normal;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  font-size: 14px;
  font-size: 0.875rem;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

img {
  text-decoration: none;
  max-width: 100%;
  height: auto;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  color: #fff;
}

h2 {
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  color: #61889e;
  margin-bottom: 40px;
  margin-left: 65px;
  transform: margin ease 0.3s;
}
@media all and (max-width: 800px) {
  h2 {
    margin-left: 0;
  }
}
h2:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #61889e;
  bottom: 0;
  transform: translateY(15px);
}

h3 {
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 20px;
}
h3:after {
  position: absolute;
  content: "/";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

strong {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
}

::selection {
  background-color: #333;
  color: #fff;
}

.fifty {
  width: 50%;
}

.notice {
  font-size: 12px;
  font-size: 0.75rem;
}

.posit-rel {
  position: relative;
}

.posit-abs {
  position: absolute;
}

.text-link a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #61889e;
}
.text-link a:focus, .text-link a:hover {
  color: #87bad8;
}

header {
  position: relative;
  z-index: 200;
  background-color: #333;
  line-height: 100px;
  height: 100px;
  color: #fff;
  box-shadow: 0 2px 8px #797979;
}

.border-header {
  border-bottom: 4px solid #61889e;
}

.logo-header {
  line-height: 100px;
  float: left;
  margin-left: 1%;
  transform: ease 0.3s font-size;
}
.logo-header a {
  font-size: 40px;
  font-size: 2.5rem;
  color: #fff;
}
@media all and (max-width: 450px) {
  .logo-header a {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

label span {
  font-size: 16px;
}

.menu {
  float: right;
  line-height: 120px;
}
.menu li {
  display: inline-block;
}
.menu li a {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.3s;
}
.menu li label span {
  font-size: 16px;
}

.show-menu-btn,
.hide-menu-btn {
  display: none;
  font-size: 30px;
  font-size: 1.875rem;
  cursor: pointer;
  transition: 0.3s;
}

.show-menu-btn {
  float: right;
}
.show-menu-btn i {
  line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover,
.menu a:focus,
.show-menu-btn:focus,
.hide-menu-btn:focus {
  color: #61889e;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1100;
}

@media all and (max-width: 800px) {
  .show-menu-btn,
.hide-menu-btn {
    display: block;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10001;
    background-color: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu li {
    display: block;
    padding: 20px;
  }

  .show-menu-btn {
    margin-right: 1%;
  }

  .hide-menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  #chk:checked ~ .menu {
    right: 0;
  }
}
.banner-header {
  position: relative;
  background-color: #ddd;
  background: url("../images/banner-top-01.jpg") no-repeat bottom center #333;
  background-size: cover;
  min-height: 700px;
  height: 90vh;
}
.banner-header::before {
  position: absolute;
  content: "";
  background-color: #423c42;
  background-image: linear-gradient(to top right, black 0, white 100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.85;
  z-index: 1;
}
.banner-header .text-banner {
  position: absolute;
  z-index: 90;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
.banner-header .text-banner::before {
  content: "";
  display: inline-block;
  background: url("../images/illustration-logo.png") no-repeat;
  background-size: 100% auto;
  min-width: 450px;
  min-height: 300px;
  margin: 20px;
}
@media all and (max-width: 480px) {
  .banner-header .text-banner::before {
    min-width: 220px;
    min-height: 150px;
  }
}
.banner-header .text-banner h1 {
  color: #fff;
}

#container {
  padding: 50px 2%;
}

#section-404 .img404 {
  display: inline-block;
  width: 250px;
  height: 120px;
  background: url("../images/illustration-logo.png") no-repeat center;
  background-size: cover;
  margin: 40px;
}

.zeropix {
  font-size: 0;
}
.zeropix .connexion-contain {
  margin-top: 40px;
}
.zeropix .connexion-contain .section-connexion {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  vertical-align: top;
  padding-right: 1vh;
}
@media all and (max-width: 800px) {
  .zeropix .connexion-contain .section-connexion {
    width: 100%;
    margin-bottom: 40px;
  }
  .zeropix .connexion-contain .section-connexion:last-child {
    margin-bottom: 0;
  }
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #61889e;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p a:focus, .zeropix .connexion-contain .section-connexion .text-connexion-notice p a:hover {
  color: #87bad8;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p span {
  display: inline-block;
  margin-top: 40px;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p span a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #61889e;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p span a:focus, .zeropix .connexion-contain .section-connexion .text-connexion-notice p span a:hover {
  color: #87bad8;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p span a {
  padding: 5px 8px;
  border: 1px solid #61889e;
  border-radius: 50px;
  transform: ease 0.3s border;
}
.zeropix .connexion-contain .section-connexion .text-connexion-notice p span a:hover {
  border: 1px solid #87bad8;
}

.section-form {
  margin-top: 60px;
}
.section-form:last-child {
  padding-bottom: 300px;
}
.section-form .message-flash {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  width: 60%;
  background-color: #555;
  padding: 10px 20px;
  margin-top: 3%;
  border-radius: 4px;
}
.section-form .error {
  background-color: #c0392b;
}
.section-form .success {
  background-color: #2bbf32;
}
.section-form .form-container {
  margin-top: 30px;
  display: block;
  width: 60%;
}
@media all and (max-width: 800px) {
  .section-form .form-container {
    width: 100%;
  }
}
.section-form div[name=lastnameGroup] {
  display: none;
  visibility: hidden;
}
.section-form .form-group {
  margin-bottom: 25px;
}
.section-form .form-group label {
  display: block;
  font-size: 16px;
  font-size: 1rem;
}
.section-form .form-group label .info-field {
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
}
.section-form .form-group label .text-link {
  padding-left: 40px;
}
.section-form .form-group label .text-link a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #61889e;
}
.section-form .form-group label .text-link a:focus, .section-form .form-group label .text-link a:hover {
  color: #87bad8;
}
.section-form .form-group div.contain-input {
  margin-top: 10px;
}
.section-form .form-group div.contain-input input {
  outline: none;
  min-height: 24px;
  min-width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #999;
  transition: ease border 0.3s;
}
.section-form .form-group div.contain-input input:focus {
  border: #333 1px solid;
}
.section-form .form-group div.contain-input input.invalid {
  border: none;
  border: solid 1px #c0392b;
}
.section-form .form-group .error-field {
  font-size: 14px;
  font-size: 0.875rem;
  color: #c0392b;
  margin-top: 10px;
}
.section-form button {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #666;
  margin: 20px 0;
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: background-color ease 0.3s;
}
.section-form button:focus, .section-form button:hover {
  background-color: #333;
}
.section-form .btn-invalid {
  background-color: #aaa;
}
.section-form .btn-invalid:hover, .section-form .btn-invalid:focus {
  background-color: #aaa;
  cursor: not-allowed;
}

.username {
  display: inline-block;
  font-style: italic;
  margin-bottom: 40px;
}

.strong {
  font-weight: 600;
}

article {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

footer {
  display: inline-block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #fff;
  width: 100%;
  background-color: #333;
  padding: 15px 1%;
  text-align: center;
  box-shadow: 0 -2px 8px #797979;
}
@media all and (max-width: 760px) {
  footer {
    position: static;
    text-align: left;
  }
}
footer .list-footer li {
  display: inline-block;
  margin-right: 1em;
}
footer .list-footer li .text-link a {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #61889e;
}
footer .list-footer li .text-link a:focus, footer .list-footer li .text-link a:hover {
  color: #87bad8;
}
footer .list-footer li::after {
  content: "|";
  display: inline-block;
  margin-left: 1em;
}
footer .list-footer li:last-child {
  margin-right: 0;
}
footer .list-footer li:last-child::after {
  content: "";
}
@media all and (max-width: 760px) {
  footer .list-footer li {
    display: block;
  }
  footer .list-footer li::after {
    content: none;
  }
}

/*# sourceMappingURL=main.css.map */
